{% if case_info %}
 - {{ case_info }}
  {% for id, description in charges_info %}
     - {{ id[:-2] }}: {{ description }}
  {% endfor %}
{% else %}
  {% for id, description in charges_info %}
 - {{ id[:-2] }}: {{ description }}
  {% endfor %}
{% endif %}
