version: '3.1'

services:

    db:
        image: recordexpungpdx:database
        env_file:
            - config/postgres/postgres.env
        volumes:
            - database_storage:/var/lib/postgresql/data

    expungeservice:
        image: recordexpungpdx:expungeservice
        env_file:
            - config/postgres/postgres.env
        depends_on:
            - db

volumes:

    database_storage:
