[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"psycopg2" = "*"
flask-script = "*"
flask-bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
recordexpunge = {editable = true,path = "."}
expungeservice = {editable = true, path = "."}
pytest = "*"
requests-mock = "*"
requests = "*"
python-dateutil = "*"
uwsgi = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.7"
