[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
pytest = "*"
requests-mock = "*"
requests = "*"
python-dateutil = "*"
uwsgi = "*"
cryptography = "*"
dacite = "*"
mypy = "*"
pytest-lazy-fixture = "*"
hypothesis = "==4.50.8"
beautifulsoup4 = "*"
ipdb = "*"
markdown2 = "*"
pdfkit = "*"
pytest-cov = "*"
pdfrw = "*"
certifi = "*"
types-python-dateutil = "*"
types-requests = "*"
more-itertools = "*"

[dev-packages]
pipenv-setup = "*"

[requires]
python_version = "3.9"
