[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"psycopg2" = "*"
flask-script = "*"
flask-bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
recordexpunge = {editable = true,path = "."}
expungeservice = {editable = true,path = "."}
pytest = "*"
requests-mock = "*"
requests = "*"
python-dateutil = "*"
uwsgi = "*"
cryptography = "*"
flask-login = "==0.4.1"
dacite = "==1.0.2"
mypy = "==0.740"
pytest-lazy-fixture = "==0.6.2"
hypothesis = "==4.50.8"
beautifulsoup4 = "==4.8.1"
ipdb = "==0.13.2"
flask-session = {git = "https://github.com/rayluo/flask-session",ref = "0.3.x"}

[dev-packages]

[requires]
python_version = "3.7"
