/** Third Party Dependencies **/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto:400,600');
@import "../node_modules/bootstrap/scss/bootstrap";
@import 'styles/reset.style';

/** Global Vars **/

@import 'styles/globals.style';

$font-family-header: 'Roboto', sans-serif;
$font-family-text: 'Montserrat', sans-serif;

/** Base Configs **/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.h1, .h2, .h3 {
  font-family: $font-family-header;
  font-weight: 600;
}

.h1 {
  font-size: 1.6em;
}

.h2 {
  font-size: 1.4em;
}

.h3 {
  font-size: 1.3em;
}

/** Custom Style Sheets **/


